<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabled_feature</key>
	<dict>
		<key>description</key>
		<string>is disabled description</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>disabled_subfeature</key>
	<dict>
		<key>description</key>
		<string>subfeature</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>enabled_feature</key>
	<dict>
		<key>enabled</key>
		<true/>
	</dict>
</dict>
</plist>
